attr==0.3.2
brotli==1.2.0
brotlicffi==1.2.0.2
chardet==7.6.0
checks==0.2
ConfigParser==7.2.0
cryptography==50.0.0
Cython==3.2.9
dl==0.1.0
docutils==0.23
filelock==3.32.3
h2==4.4.1
h5==0.12.2
HTMLParser==0.0.2
hypothesis==6.165.10
importlib_resources==7.1.0
inflect==7.5.0
ipython==9.16.1
ipywidgets==8.1.9
jnius==1.1.0
js==1.0
keyring==25.7.0
mpi4py==4.1.2
mtrand==0.1
mypy==2.3.1
psutil==7.2.2
PyInstaller==6.22.2
pyodide==0.0.2
pyOpenSSL==26.4.0
pytest==9.1.1
pytest_run_parallel==0.10.0
pytictoc==1.5.3
PyYAML==6.0.3
redis==8.1.0
scipy_doctest==2.2.0
simplejson==4.1.1
Sphinx==9.1.0
tables==3.11.1
thread==2.0.6
threadpoolctl==3.6.0
trove_classifiers==2026.6.1.19
typing_extensions==4.16.0
xmlrpclib==1.0.1
